{:deps    {org.clojure/clojure       {:mvn/version "1.10.0"}
           org.clojure/data.json     {:mvn/version "0.2.6"}
           clj-http                  {:mvn/version "3.10.0"}
           mount                     {:mvn/version "0.1.16"}}
        influxdb/influxdb-clojure {:mvn/version "0.2.0"}}